﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LickNRiffManager</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">LickNRiffManager</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Войти</a></li>
            </ul>
        </div>
    </nav>
    @RenderBody()
</body>
</html>
