﻿<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Добавление композиции!</h3>
    </div>
    <div class="modal-body">
        <form id="addForm" role="form" class="text-center" action="/api/Compositions/Post" method="post" ng-submit="ok($event)">
            <div class="form-group">
                <label for="name">Название</label>
                <input ng-model="addModel.Name" required id="name" class="form-control" type="text" placeholder="Введите название композиции" />
            </div>
            <div class="form-group">
                <label for="url">Ссылка</label>
                <input ng-model="addModel.Link" required id="url" class="form-control" type="url" placeholder="Укажите ссылку на урок" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" form="addForm">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Отмена</button>
    </div>
</div>