<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <section class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <a ng-click="collapsedArr[category.Id] = !collapsedArr[category.Id]" class="cursor-pointer">
                        {{::category.Name}}:
                        <span>{{category.CountOfFinished}}/{{category.CountOfLessons}}</span>
                        <!--<span>{{category.FinishedDuration | secondsToDateTime | date:"H'h' m'm' s's'"}}/{{::category.TotalDuration | secondsToDateTime | date:"H'h' m'm' s's'"}}</span>-->
                    </a>
                    <div class="lighter" ng-class="{ 'lighter-yellow': category.CountOfPlanned > 0, 'lighter-green': category.CountOfFinished == category.CountOfLessons }"> <div>
                </div>
            </div>
            <div uib-collapse="collapsedArr[category.Id]" class="panel-collapse collapse collapsed-block">
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item cursor-default list-group-item-optimized" ng-class="{'list-group-item-success': lesson.Status == 3, 'list-group-item-warning': lesson.Status == 2}" ng-repeat="lesson in category.Lessons">
                            <span>{{::lesson.Name}}</span>
                            <div class="pull-right">
                                <button class="btn btn-warning btn-xs" ng-click="plan(category, lesson)" tooltip-placement="top" uib-tooltip="Запланировать">
                                    <i class="glyphicon glyphicon-plus" >
                                    </i>
                                </button>
                                <button class="btn btn-success btn-xs" ng-click="finish(category, lesson)" tooltip-placement="top" uib-tooltip="Завершить">
                                    <i class="glyphicon glyphicon-check">
                                    </i>
                                </button>
                                <a class="btn btn-primary btn-xs" href="{{::lesson.Link}}" target="_blank" tooltip-placement="top" uib-tooltip="Просмотр">
                                    <i class="glyphicon glyphicon-play">
                                    </i>
                                </a>
                                <button class="btn btn-danger btn-xs" ng-dblclick="delete(category, lesson)" tooltip-placement="top" uib-tooltip="Удалить">
                                    <i class="glyphicon glyphicon-remove">
                                    </i>
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>