﻿<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 composition-margin-bottom">
    <div class="list-group-item cursor-default list-group-item-optimized" ng-class="{'list-group-item-success': composition.Status == 3, 'list-group-item-warning': composition.Status == 2}">
        <span class="text-center">{{ $index +1 }}. {{::composition.Name}}</span>
        <div class="pull-right">
            <button class="btn btn-warning btn-xs" ng-click="plan(composition)" tooltip-placement="top" uib-tooltip="Запланировать">
                <i class="glyphicon glyphicon-time">
                </i>
            </button>
            <button class="btn btn-success btn-xs" ng-click="finish(composition)" tooltip-placement="top" uib-tooltip="Завершить">
                <i class="glyphicon glyphicon-check">
                </i>
            </button>
            <a class="btn btn-primary btn-xs" href="{{::composition.Link}}" target="_blank" tooltip-placement="top" uib-tooltip="Просмотр">
                <i class="glyphicon glyphicon-play">
                </i>
            </a>
            <button class="btn btn-danger btn-xs" ng-dblclick="delete(composition)" tooltip-placement="top" uib-tooltip="Удалить">
                <i class="glyphicon glyphicon-remove">
                </i>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>