﻿<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block-margins">
    <div class="list-group-item cursor-default list-group-item-optimized" ng-class="{'list-group-item-success': lesson.Status == 3, 'list-group-item-warning': lesson.Status == 2}">
        <span>{{::lesson.Name}}</span>
        <!--<span>{{::lesson.Duration | secondsToDateTime | date:"H'h' m'm' s's'"}}</span>-->
        <div class="pull-right">
            <button class="btn btn-warning btn-xs" ng-click="plan(lesson)" tooltip-placement="top" uib-tooltip="Запланировать">
                <i class="glyphicon glyphicon-plus">
                </i>
            </button>
            <button class="btn btn-success btn-xs" ng-click="finish(lesson)" tooltip-placement="top" uib-tooltip="Завершить">
                <i class="glyphicon glyphicon-check">
                </i>
            </button>
            <a class="btn btn-primary btn-xs" href="{{::lesson.Link}}" target="_blank" tooltip-placement="top" uib-tooltip="Просмотр">
                <i class="glyphicon glyphicon-play">
                </i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>