﻿
@{
    ViewBag.Title = "GuitarManager - Compositions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container" ng-app="lickNRiffManagerModule">
    <ul class="nav nav-tabs nav-tabs-optimized">
        @foreach (var pl in Model.Playlists)
        {
            if (pl.PlaylistId != "PLiYP5lAo2Jmxv1yU5IqNZ87OTl64p9KJr")
            {
                <li><a href="/Home/Playlists/@pl.PlaylistId"> @pl.Name </a></li>
            }
            else
            {
                <li><a href="/Home/Index">@pl.Name</a></li>
            }
        }
        <li class="active"><a href="/Home/Compositions">Compositions</a></li>
        <li><a href="/Home/Songs">Songs</a></li>
    </ul>
    <div class="row" ng-controller="mainCompositionsController">
        <h4 class="page-header text-info-nav">Planned: {{ statistics.planned }} | Finished: {{ statistics.finished }}/{{ statistics.total}}</h4>
        <button class="btn btn-primary btn-sm add-button" ng-click="openModal()" tooltip-placement="top" uib-tooltip="Добавить">
            <i class="glyphicon glyphicon-plus">
            </i>
        </button>
        <section ng-if="mainModel.content.length != 0">
            <composition-block ng-repeat="composition in mainModel.content"></composition-block>
        </section>
        <section ng-if="mainModel.content.length == 0 && error.content == null">
            <h4 class="text-center text-warning">Композиции отсутствуют</h4>
        </section>
        <section ng-show="error.content != null" ng-cloak ng-class="hidden">
            <h4 class="text-center text-danger">{{ error.content.Message }}</h4>
        </section>
    </div>
</main>
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/angular-bootstrap")
@Scripts.Render("~/bundles/my-angular-components")
@Scripts.Render("~/bundles/compositions-only-components")