﻿@{
    ViewBag.Title = "GuitarManager - Lessons";
}

@using LickAndRiffManager.Models
@model PlaylistsMainModel

    <main class="container" ng-app="lickNRiffManagerModule">
        <ul class="nav nav-tabs nav-tabs-optimized">
            @foreach (var pl in Model.Playlists)
            {
                if (pl.PlaylistId != "PLiYP5lAo2Jmxv1yU5IqNZ87OTl64p9KJr" && pl.PlaylistId != Model.ActivePlaylistId)
                {
                    <li><a href="/Home/Playlists/@pl.PlaylistId"> @pl.Name </a></li>
                }
                else
                {
                    if (pl.PlaylistId != "PLiYP5lAo2Jmxv1yU5IqNZ87OTl64p9KJr" && pl.PlaylistId == Model.ActivePlaylistId)
                    {
                        <li class="active"><a href="/Home/Playlists/@pl.PlaylistId"> @pl.Name </a></li>
                    }
                    else
                    {
                        if (pl.PlaylistId == Model.ActivePlaylistId)
                        {
                            <li class="active"><a href="/Home/Index">@pl.Name</a></li>
                        }
                        else
                        {
                            <li><a href="/Home/Index">@pl.Name</a></li>
                        }
                    }
                }
            }
            <li><a href="/Home/Compositions">Compositions</a></li>
            <li><a href="/Home/Songs">Songs</a></li>
        </ul>
        <div class="row" ng-controller="mainController">
            <h4 class="page-header text-info-nav">Planned: {{ statistics.planned }} | Finished: {{ statistics.finished }}/{{ statistics.total}}</h4>
            <button class="btn btn-primary btn-sm add-button" ng-click="openModal()" tooltip-placement="top" uib-tooltip="Добавить">
                <i class="glyphicon glyphicon-plus">
                </i>
            </button>
            <section ng-if="mainModel.content != null">
                <category-block ng-repeat="category in mainModel.content.Categories"></category-block>
            </section>
            <section ng-if="mainModel.content == null && error.content == null">
                <h4 class="text-center text-warning">Данные отсутствуют</h4>
            </section>
            <section ng-show="error.content != null" ng-cloak ng-class="hidden">
                <h4 class="text-center text-danger">{{ error.content.Message }}</h4>
            </section>
        </div>
    </main>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-bootstrap")
    @Scripts.Render("~/bundles/my-angular-components")
    @Scripts.Render("~/bundles/categories-components")
            